* {
	margin: 0px;
	padding: 0px;
	font-family: Verdana, FontAwesome;
}

body {
	background-image: url(../images/bodybg.png);
}

header {
	padding: 25px 0px;
	background-image: url("../images/homebg.png");
}

footer {
	color: #dfdfdfa0;
	text-align: center;
	background-color: #00004d;
	padding: 35px 0px;
}

.cover {
	width: 1000px;
	margin: auto;
}

.flex_element {
	display: flex;
	justify-content: space-between; 
}

nav a {
	text-decoration: none;
	color: white;
	font-size: 14px;
	padding: 0px 5px;
}

.nav_list, .social_list {
	list-style-type: none;
}

.social_list i {
	color:white;
	padding: 0px 10px;
	height : 20px;
}

.title_div {
	text-align: center;
	margin: 100px;
}

.title_div h2 {
	color: #6488F9;
	font-size: 35px;
	margin: 20px;
}

.title_div p {
	color: #979797; /* Light grey color*/
}

#home {
	background-image: url('../images/homebg.png');
	background-size: 100% 100%;
	padding: 100px 0px;
}

#home h1 {
	font-size : 45px;
	color: white;
	margin: 50px 0px;
}

#home a {
	text-decoration: none;
}

.btn_red {
	color: white;
	background-color: #FF0000;
	border-radius: 5%;
	padding: 20px 30px;
}

.btn_blue {
	color: white;
	background-color : #4663C3;
	border-radius: 5%;
	padding: 20px 30px;
}

.feature_div h1 {
	font-size: 20px;
}

.feature_div p {
	color: #979797;
	font-size: 15px;
	margin : 20px 0px;
}

.feature_div img {
	height : 60px;
}

.feature_div div {
	margin : 0px 20px;
}

#features_preview_image {
	width: 100%;
	text-align: center;
	margin: 100px auto 0px;
}

.feature_block {
	margin: 60px 150px;
}

.feature_block * {
	margin: 20px;
}

.feature_block h3 {
	font-size: 35px;
}

.feature_block p {
	font-size: 20px;
	color: #979797;
}

.screenshot {
	padding: 50px 0px;
}

.shadow_block {
	position: relative;
}

.screenshot_shadow {
	transform: rotate(90deg);
    position: absolute;
    left: -12%;
    top: 31%;
    z-index: -1;
	color: #DBDBDB;
	font-size: 200px;
}

.breif_atm {
	display: flex;
	align-items: left;
}

.breif_atm div {
	height: 65px;
	width: 65px;
	display: flex;
	justify-content: center;
	margin: 0px -15px 10px 0px;
	font-size: 15px;
	color: #DBDBDB;
	background-color: white;
	border: 1px #DBDBDB;
	border-radius: 50%;
	border-style: dashed;
	z-index: -1;
}

.breif_atm span {
	padding-top: 0px;
}

.review {
	margin: 0px 50px 50px;
}

.review p {
	font-size: 15px;
	margin-bottom: 15px;
}

.review span {	
	font-size: 12px;
	color: #979797;
}

.quotes_close {
	float: right;
}

#download {
	position: relative;
	background-image: url("../images/downloadbg.png");
}/*

#download > div {
	justify-content: space-between;
}*/

#download_info_block {
	padding: 100px 0px;
}

#download_preview {
	margin: 130px 50px 0px;
	height: 300px;
	width: 450px;
}

#download h2 {
	color: white;
	font-size: 30px;
	margin-bottom: 20px;
} 

#download p {
	color: white;
	font-size: 14px;
}

#stores {
	padding: 20px 0px;
}

#stores img {
	width: 120px;
}

footer p {
	font-size: 12px;
}

#footer_separator {
	background-color: #555;/*
	border: none;*/
	height: 1px;
	margin: 40px 100px;
}

@media(max-width: 460px)
{
	.cover {
		width: 300px;
	}
}

@font-face {
	font-family: FontAwesome;
	src: url("../fonts/fontawesome-webfont.woff");
}