<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head lang="en">
    <title>projects</title>
    
</head>
<body>
<div class="container">
    <div th:if="${not #lists.isEmpty(employes)}">
        <h2>All projects</h2>
        <table class="table table-striped">
            <tr>
                <th>Employee Code</th>
                <th>First Name</th>
                <th>Middle Name</th>
                <th>Last Name</th>
                <th>DOB</th>
                <th>Gender</th>
                <th>Contact No</th>
                <th>Email Id</th>
            </tr>
            <tr th:each="employee : ${employes}">
                <td th:text="${employee.employeeCode}">Id</td>
                <td th:text="${employee.firstName}">Description</td>
                <td th:text="${employee.middleName}">Start Date</td>
                <td th:text="${employee.lastName}">End Date</td>
                <td th:text="${employee.dob}">End Date</td>
                <td th:text="${employee.gender}">End Date</td>
                <td th:text="${employee.contactNo}">End Date</td>
                <td th:text="${employee.emailId}">End Date</td>
                <td><a th:href="${'employee/edit?employeeCode=' + employee.employeeCode}" class="btn btn-default">Edit</a></td>
 
            </tr>
        </table>
    </div>
</div>
</body>
</html>