<html xmlns:th="http://www.thymeleaf.org">
<head lang="en">
<meta http-equiv="Content-Type" content="text/html; charset=ISO-8859-1">
<title>Insert title here</title>
</head>
<body>
	<form th:object="${skill}" th:action="@{../skills}" method="post">
		<table>
			<tr>
				<td></td>
				<td><input type="hidden" th:field="*{id}"></td>
			</tr>
			<tr>
				<td>Skill Name</td>
				<td><input type="text" th:field="*{name}"></td>
			</tr>
			<tr>
				<td clspan="2" ><button type="submit" class="btn btn-primary">Save</td>
			</tr>
		</table>
	</form>
</body>
</html>