<section class="row">
    <div class="border rounded col-md-11 " id="search">
        <i class="fas fa-search"></i>
        Search:<input type='text' placeholder='Search users by name' ng-model="search.name" />
    </div>
    <div class="col-md-1">
        <button class="btn py-0 mt-1">Search</button>
    </div>
</section>
<section class=" row pt-4">
    <div class='col-md-4' ng-repeat="user in $ctrl.users | filter:search">
        <div class="card flex-md-row">
            <div class="card-body">
                <i class="fas fa-user fa-5x"></i>
            </div>
        </div>
        <div class="card-body">
            <button type="button" class="edit_button btn btn-sm float-right rounded-circle" data-toggle="modal" data-target="#userModel" ng-click="editUser(user.id)"><i class="fas fa-pencil-alt"></i></button>
            <h5 class="card-title">{{user.name}}</h5>
            <p> <span><i class="fas fa-phone pr-2"></i>{{user.contact}}</span></p>
            <p> <span><i class='fas fa-map-marker-alt pr-2'></i>{{user.address}}</span></p>
        </div>
    </div>
</section>
<div class="modal fade" id="userModel" role="dialog">
    <div class="modal-dialog">
        <!-- Modal content-->
        <div class="modal-content">
            <div class="modal-header model_heading">
                <h4 class="modal-title">Add/Edit User</h4>
                <button type="button" class="close" data-dismiss="modal">&times;</button>
            </div>
            <form class="modal-body form-group" name="form">
                <div>
                    <label class="col-form-label">Name</label>
                    <input type="text" name="name" class="form-control" placeholder="Enter user name" ng-model="user.name" required/>
                </div>
                <div>
                    <label class="col-form-label">Contact No</label>
                    <input type="text" name="contact" class="form-control" placeholder="Enter contact no" ng-model="user.contact" pattern="^[0-9]{8,15}"/>
                </div>
                <div>
                    <label class="col-form-label">Address</label>
                    <input type="text" class="form-control" placeholder="Enter address" ng-model="user.address"/>
                </div>
            </form>
            <div class="modal-footer">
                <button type="button" class="btn btn-default" data-dismiss="modal">CANCEL</button>
                <button type="button" class="btn btn-primary" ng-click="postData()" ng-disabled=form.name.$invalid && form.contact.$invalid>SAVE</button>
            </div>
        </div>
    </div>
</div>
